*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #292929;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    float: left;
}
.hero-containers{
    width: 100%;
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}
.contents h1{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

/* netflix movies rows and columns  */

.movie-conatiners{
   display: flex;
   width: 100%;
   margin: 10px;
   
    
}

.movies-card {
    position: relative;
    background-color: #000;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    
  
}
.movies-row{
    display: flex;
     overflow-x: auto;
    flex-wrap: nowrap;

}
.movies-card span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
    -o-border-radius: 5;
}
.input-search input{
    width: 99.5%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    
}
.input-search{
        margin: 20px;

}
.App h1{
    margin: 20px;
}
